*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
	overflow-x: hidden;
}

.desktopOnly{
	display: none;

	@include desktop{
		display: block;
	}
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent $color-scrollbar;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar;
  border-radius: 20px;
}