// Colors
$color-text:#081c15;
$color-light: #f8f7f3;
$color-presentation: #f8f7f3; 
$color-projects: #E9E6D8; 
$color-experiences: #bdb2ff; 
$color-contact: #1b4332; 
$color-scrollbar: #8c877d;

//Screen width
$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;
$min-xl: 1500px;

//Animation 
$bezier: cubic-bezier(.785, .135, .15, .86);