.templateProject{
	background-color: $color-projects;
}

.project{
	max-width: 1400px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 15px;

	&__header{
		text-align: right;
		@include laptop{
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__mainTitle{
		position: relative;

		h1{
			font-size: 24px;
			padding: 60px 0;
			text-align: left;
			@extend .font-poppins, .font-light;
	
			@include tablet{
				font-size: 40px;
			}
		}

		&__oval{
			position: absolute;
			top: 0;
			left: -50px !important;
			width: 320px;
			height: 120px;
			opacity: 0.2;

			@include tablet{
				left: 0 !important;
				width: 400px;
				height: 150px;
			}
		}
	}

	&__item{
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0;
		}
		&__container{
			@include laptop{
				display: flex;
				column-gap: 30px;
				position: relative;

				&:after{
					position: absolute;
					content: " "; 
					width: calc(100% + 30px);
					height: 1px;
					left: -15px;
					bottom: 0;
					background-color: $color-text;
				}
			}
		}

		&__title{
			font-size: 40px;
			font-style: italic;
			position: relative;

			@include laptop{
				font-size: 64px;
			}
			
			&:after{
				position: absolute;
				content: " "; 
				width: calc(100% + 30px);
				height: 1px;
				left: -15px;
				bottom: 0;
				background-color: $color-text;
			}
		}

		&__img{
			width: 100%;
			max-width: 400px;
			aspect-ratio: 1/1;
			margin: 20px auto;

			@include tablet{
				min-width: 400px;
			}

			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__informations{
			@include laptop{
				position: relative;
				&::after{
					position: absolute;
					content: " "; 
					width: 1px;
					height: 100%;
					top: 0;
					left: -15px;
					background-color: $color-text;
				}
			}
		}

		&__details{
			display: flex;
			position: relative;

			&::after, &::before{
				position: absolute;
				content: " "; 
				width: calc(100% + 30px);
				height: 1px;
				left: -15px;
				background-color: $color-text;
			}

			&::after{
				top: 0;

				@include laptop{
					content: none;
				}
			}

			&::before{
				bottom: 0;
			}
			
			div:first-of-type{
				min-width: 30%;
				position: relative;

				&::after{
					position: absolute;
					content: " "; 
					width: 1px;
					height: 100%;
					top: 0;
					right: 0;
					background-color: $color-text;
				}
			}

			&__title{
				text-transform: uppercase;
			}

			&__text{
				@extend .font-sourceSerifPro, .font-semibold;
			}

			p{
				padding: 0 15px;
			}
		}

		&__description{
			&__title{
				font-style: italic;
				font-size: 18px;

				@extend .font-sourceSerifPro, .font-semibold;
			}
		}
	}

	.btnGroup{
		margin: 50px auto 10px;
		display: flex;
		column-gap: 30px;
		flex-wrap: wrap;

		a{
			margin-bottom: 20px;
		}
	}
}